<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="Assets/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="Assets/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="Assets/dist/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="Assets/icons/css/all.min.css">
    <link rel="stylesheet" href="Assets/icons/css/brands.min.css">
    <link rel="stylesheet" href="Assets/icons/css/fontawesome.min.css">
    <link rel="stylesheet" href="Assets/icons/css/regular.min.css">
    <link rel="stylesheet" href="Assets/icons/css/solid.min.css">
    <link rel="stylesheet" href="Assets/icons/css/svg-with-js.min.css">
    <link rel="stylesheet" href="Assets/icons/css/v4-shims.min.css">
    <!-- style -->
    <link rel="stylesheet" href="Assets/dist/css/style.css">
    
    <title>Padrão Template</title>
</head>
<body>
    
    <header class="header">
        <div class="menu container">
            <nav>
                <a href="">Usuários</a>
                <a href="">Noticias</a>
                <a href="">Quem Somos</a>
            </ul>
        </div>
    </header>
    <main class="conteudo section-padding">
        <section class="container">
            {{area_dinamica}}
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            rodapé
        </div>
    </footer>
    

    <!-- Scripts -->
    <script src="Assets/icons/js/all.min.js"></script>
    <script src="Assets/icons/js/brands.min.js"></script>
    <script src="Assets/icons/js/fontawesome.min.js"></script>
    <script src="Assets/icons/js/regular.min.js"></script>
    <script src="Assets/icons/js/solid.min.js"></script>
    <!-- <script src="Assets/icons/js/conflict-detection.min.js"></script> -->
    <script src="Assets/icons/js/v4-shims.min.js"></script>
</body>
</html>